<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEQThqUTQlkJnLbwYxRtI9mbdcTtfYJm4</string>
	<key>GCM_SENDER_ID</key>
	<string>102065608226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFuctions.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-fuctions-5a619</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-fuctions-5a619.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102065608226:ios:600d87a7ba94a28a125c7b</string>
</dict>
</plist>